.card-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-tertiary);
    padding: 25px;
}

.construct-question {
    margin-top: 14px;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    word-break: normal;
}

.construct-answer {
    display: inline-block;
    
    width: 60%;
    word-break: break-all;
}

.alt {
    background-color: var(--dark-primary);
}

.radio-button-container {
    display: flex;
    flex-wrap: wrap;
}

.close-button-container {
    padding-top: 14px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.up-arrow {
    font-size: 28px;
    padding: 0 8px;
}