.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.create-box {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: auto;
    min-width: 100px;
    /* background-color: #C0C0C0; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.drop-down {
    margin: 10px;
}

