.page {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-content {
    height: auto;
    width: 630px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.create-box {
    border: 0;
    
    margin: 5px;
    margin-bottom: 15px;
    width: 600px;
    min-width: 100px;
    /* background-color: #C0C0C0; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:  	var(--dark-secondary);
    color: var(--light-primary);
    
}

.drop-down {
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.create-button {
    background-color: var(--dark-primary);
    margin: 5px;
}
