:root {
    --dark-primary: rgb(43, 42, 51);
    --dark-secondary: rgba(66, 65, 77, 1);
    --dark-tertiary: rgb(56, 56, 65);
    --light-primary: #F1F1F1;
}

body, html {
    margin: 0;
}

.break {
    flex-basis: 100%;
    height:0;
}

.text-field {
    margin-bottom: 15px; 
    
}

.card-header {
    background-color: var(dar);
}
.page {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-content {
    height: auto;
    width: 630px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}