.edit-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}

.edit-button {
    background-color: var(--dark-primary);
}

.submit-button {
    background-color: var(--dark-primary);
}

.edit-button:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.question-title {
    color: var(--light-primary);
}

.question-card {
    
    background-color: var(--dark-secondary);
    color: var(--light-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin: 10px;

    width: 600px;
    border: 0;
}


.text-field {
    color: var(--light-primary);
    border: 0;
    background-color: var(--dark-primary);
}

.text-field:disabled {
    color: var(--light-primary);
    border: 0;
    background-color: var(--dark-primary);
}

.text-field:focus {
    border: 1px solid var(--light-primary);
    background-color: var(--dark-primary);
    color: var(--light-primary);
}